<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.Test2Mapper">
    <!--parameterMap-->
    <parameterMap id="pm1" type="map">
        <parameter property="id" ></parameter>
    </parameterMap>
    
    <select id="testParameterMap" parameterType="int" resultType="com.mybatis.pojo.User">
        SELECT * FROM USER WHERE id = #{id}
    </select>

    <update id="testTrim" parameterType="com.mybatis.pojo.User">
        update user
        <set>
            <if test="cash!=null and cash!=''">cash= #{cash},</if>
            <if test="address!=null and address!=''">address= #{address},</if>
        </set>
        <where>id = #{id}</where>
    </update>

    <select id="testChooseWhen" resultType="com.mybatis.pojo.User">
        SELECT * FROM user
        <where>
            <choose>
                <when test="id !=null ">
                    and id = #{id}
                </when >
                <when test="address!=null">
                    and address = #{address}
                </when>
                <otherwise>
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>
